.elements {
  max-width: 882px;
  width: 100%;
  display: grid;
  margin: 0 auto;
  box-sizing: border-box;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 21px;
  justify-content: space-between;
  align-content: space-between;

}

@media screen and (max-width: 915px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    max-width: 600px;
    column-gap: 36px;
}
}
@media screen and (max-width: 630px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
}
}
@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
    max-width: 300px;
}
}
