.element__like-current {
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(16/13);
  color: #000000;
  text-align: center;
}
