.popup__button-cross {
  width: 40.7px;
  height: 40.7px;
  top: -40px;
  right: -40px;
  background: none;
  border: none;
  background-image: url("../../../images/Close-cross.svg");
  background-repeat: no-repeat;
  align-self: center;
  background-position: center;
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
}

@media screen and (max-width: 630px) {
  .popup__button-cross {
    top: calc(10px - 40px);
    right: calc(10px - 40px);
    width: 30px;
    height: 30px;
  }
}
