.popup__subtitle {
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(15/12);
  color: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 0;
  max-width: 75vw;
}
