.login__input {
  background-color: black;
  border: none;
  border-bottom: 2px solid #cccccc;
  outline:none;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(17/14);
  margin-top: 30px;
  padding: 0;
  width: 358px;
  outline: none;
  color: #CCCCCC;
}

.login__input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px black !important; /* Цвет фона */
  -webkit-text-fill-color:  #CCCCCC !important; /* цвет текста */
  caret-color: white;
}
