.popup__button-save {
  width: 358px;
  height: 50.15px;
  left: 461px;
  top: 438.34px;
  background: #000000;
  border-radius: 2px;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: calc(22/18);
  text-align: center;
  color: #FFFFFF;
  margin-left: 36px;
  border: none;
  margin-bottom: 26px;
}

@media screen and (max-width: 630px) {
  .popup__button-save {
    width: 200px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: auto;
  }
}
