.element__button-like {
  width: 24px;
  height: 24px;
  background: none;
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  box-sizing: border-box;
  align-self: center;
  margin-bottom: -11px;
}
