.profile__info {
  max-width: 560px;
  display: grid;
  grid-template-columns: 1fr 25px;
  grid-template-rows: 56px 1fr;
  column-gap: 17px;
  row-gap: 7px;
  box-sizing: border-box;
  padding-top: 18px;
}

@media screen and (max-width: 760px) {
  .profile__info {
    grid-template-rows: 38px 17px;
    padding-top: 10.25px;
    padding-bottom: 30px;
    column-gap: 3px;
    row-gap: 0;
    margin: 0 auto;
}
}
