.profile__name {
  margin: 0 auto 0 0;
  font-family:'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.33;
  color: #FFFFFF;
  text-rendering: optimizeLegibility;
  text-align: start;
  align-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 550px;
}

@media screen and (max-width: 665px) {
  .profile__name {
    text-align: end;
    margin: 0 8px;
    font-size: 27px;
    line-height: 2.07;
  }
}
